@using TMS.Models;
@inject SignInManager<UserDB> SignInManager

<html lang="en">
<head>
    <title></title>

    <style>

        .list {
            list-style-type: none;
            font-family: 'White Storm';
            font-size: 30px;
            text-align: center;
            background-color: #ffdf80;
        }

        .listitem {
            border: 2px solid black;
            border-collapse: collapse;
            display: block;
            padding: 10px;
        }

        a {
            text-decoration: none;
            color: #3a2613;
            cursor: pointer;
        }

            a:hover {
                color: #ad7138;
            }
    </style>

</head>

<body>

    <ul class="list">
        <a class="@ManageNavPages.IndexNavClass(ViewContext)" asp-page="./Index" hidden>Profile</a>

        <li class="listitem"><a class="@ManageNavPages.EditInfoNavClass(ViewContext)" asp-page="./EditInfo">Edit info</a></li>

        <li class="listitem"><a class="@ManageNavPages.ChangeUsernameNavClass(ViewContext)" asp-page="./ChangeUsername">Change username</a></li>

        <li class="listitem"><a class="@ManageNavPages.ChangePasswordNavClass(ViewContext)" asp-page="./ChangePassword">Change password</a></li>

        <li class="listitem"><a asp-area="User" asp-controller="CartActions" asp-action="History">History</a></li>

        <li class="listitem"><a class="@ManageNavPages.DeleteAccountNavClass(ViewContext)" asp-page="./DeleteAccount">Delete account</a></li>
    </ul>

</body>
</html>
