@using TMS.Roles;

@model List<UserHistory>

<html lang="en">
<head>
    <title>@ViewData["Title"] The Magic Shelf - History</title>

    <style>
        table {
            border: 5px solid #4d2600;
            border-collapse: collapse;
            width: 1000px;
            text-align: center;
            margin-left: 260px;
            table-layout: fixed;
            position: relative;
        }

        th {
            font-family: 'White Storm';
            font-size: 30px;
        }

        td {
            font-family: 'Times New Roman';
            font-size: 20px;
            color: #3a2613;
        }

        th, td {
            border: 3px solid #4d2600;
            padding: 10px;
        }

        .temp {
            font-family: 'White Storm';
            font-size: 45px;
            margin-left: 550px;
            margin-top: -25px;
            color: #009900;
            position: absolute;
        }

    </style>

</head>

<body>
    <span class="temp">@TempData["Info"]</span>
    <br />

    <table>
        <tr>
            <th style="width: 75px;"><h3>No.</h3></th>
            <th><h3>Title</h3></th>
            <th><h3>Author</h3></th>
            <th style="width: 110px;"><h3>Quantity</h3></th>
            <th style="width: 110px;"><h3>Total price</h3></th>
            <th style="width: 150px;">Date</th>

            @if (User.IsInRole(TheRoles._Admin))
            {
                <th>User</th>
            }
        </tr>

        @{
            int x = 0;
        }
        @foreach (var i in Model)
        {
            x++;

            <tr style="position:relative;">
                <td>@x</td>
                <td>@i.Title</td>
                <td>@i.Author</td>
                <td>@i.Quantity</td>
                <td>@i.Price</td>
                <td>@i.OrderTime</td>

                @if (User.IsInRole(TheRoles._Admin))
                {
                    <td>@i.Name</td>
                }
            </tr>
        }

    </table>

</body>
</html>