@model List<BooksDB>

<html lang="en">
<head>
    <title>@ViewData["Title"] The Magic Shelf - Manage</title>

    <style>
        table {
            border: 10px solid #4d2600;
            border-collapse: collapse;
            text-align: center;
            margin-left: 100px;
            table-layout: fixed;
        }

        th {
            font-family: 'White Storm';
            font-size: 50px;
        }

        td {
            font-family: 'Times New Roman';
            font-size: 20px;
            color: #3a2613;
        }

        th, td {
            border: 4px solid #4d2600;
            padding: 10px;
        }

        .button1 {
            border: 4px solid #3a2613;
            background-color: #ffdf80;
            padding: 15px;
            font-family: 'White Storm';
            color: #3a2613;
            font-size: 30px;
            display: block;
            text-decoration: none;
        }

        .button2 {
            border: 4px solid #3a2613;
            background-color: #cc3300;
            padding: 15px;
            font-family: 'White Storm';
            color: #3a2613;
            font-size: 30px;
            display: block;
            text-decoration: none;
        }

        .button3 {
            border: 4px solid #3a2613;
            background-color: #668cff;
            padding: 15px;
            font-family: 'White Storm';
            color: #3a2613;
            font-size: 30px;
        }

            .button1:hover, .button2:hover, .button3:hover {
                opacity: 0.7;
            }

    </style>

</head>

<body>

    <div style="float: right; margin-right:80px; padding: 10px;">
        <form>
            <input type="text" id="quicksearch" placeholder="Search.."></input>
            <button type="button" style="background-color: #fff2cc; width: 30px; height: 30px;" onclick="search(document.getElementById('quicksearch').value)"><i class="fa fa-search"></i></button>
        </form>
    </div>

    <script>
        function search(string) {
            window.find(string);
        }
    </script>

    <table>
        <tr>
            <th style="width: 75px;"><h2>No.</h2></th>
            <th style="width: 300px;"><h2>Title/Author</h2></th>
            <th style="width: 150px;"><h2>Image</h2></th>
            <th style="width: 155px;"><h2>Genre</h2></th>
            <th style="width: 200px;"><h2>Quantity</h2></th>
            <th style="width: 130px;"><h2>Price</h2></th>
            <th style="width: 130px;"><a class="button3" asp-controller="TMS" asp-action="AddBook">Add book</a></th>
        </tr>

        @{
            int x = 0;
        }

        @foreach (var i in Model)
        {
            x++;

            <tr>
                <td>@x</td>
                <td><b>@i.Title</b>,<p>@i.Author</p></td>
                <td><img src="@i.Image" alt="@i.Title" title="@i.Title" width="100px" height="150px" /></td>
                <td>
                    @i.Genre1 @if (i.Genre1 != i.Genre2)
                    {
                        <span>/ </span> @i.Genre2
                    }
                </td>
                <td>@i.Quantity</td>
                <td>@i.Price</td>
                <td>
                    <a class="button1" asp-controller="TMS" asp-action="Edit" asp-route-id="@i.Id">Edit</a><br />
                    <a class="button2" asp-controller="TMS" asp-action="Delete" asp-route-id="@i.Id">Delete</a>
                </td>
            </tr>
        }

    </table>

</body>
</html>
